.header {
  min-width: 320px;
  width: 100%;
  max-width: 880px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .header {
    padding: 45px 0 0 0;
  }
}