.popup__close {
  position: absolute;
  right: 0px;
  top: -50px;
  width: 36px;
  height: 36px;
  text-decoration: none;
  background-image: url(../../../images/Close/../—Ålose_icon.svg);
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.2s;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (min-width: 768px) {
  .popup__close {
    right: -49px;
    top: -47px;
    width: 56px;
    height: 56px;
  }
}
