.popup__close {
  position: absolute;
  right: 0px;
  top: -40px;
  width: 26px;
  height: 26px;
  text-decoration: none;
  background-image: url(../../../images/Close\ Icon.png);
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  padding: 0;
  cursor: pointer;
  -width: 0;
}

@media screen and (min-width: 768px) {
  .popup__close {
    right: -36px;
    top: -36px;
    width: 33px;
    height: 33px;
  }
}
